@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

th, td{
    font-size: 14px;
}

#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

#main{
    padding-left: 225px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: px;
    }

    #page-wrapper {
        padding: 0px 10px;
    }
}

.content-wrap{
    margin-top: -50px;
    padding-left: 225px;
}

.form-wrap{
    padding: 0 15% 0 15%;
    margin-left: -10%;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #424949;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #424949;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #D7DBDD/*#CCD1D1*/;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        padding-top: 70px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.2) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #FDCD3D !important;
        color: #fff !important;
    }
}

.side-nav {
    /*overflow-y: hidden;*/
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #424949;    
}

.side-nav>li>ul>li>a:hover {
    color: #424949;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
  color: #424949;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 15px 15px;
}

.navbar .navbar-inverse > ul > li > a{
    color: #424949 !important;
}

.navbar .navbar-inverse > ul > li > a:hover,
.navbar .navbar-inverse > ul > li > a:focus{
    color: #fff !important;
}

/*****EMPLOYEE PORTAL********/

.login-form{
    background-color: #D7DBDD;
    padding: 4vw 2vw;
    margin: 10vw 35vw 0 35vw;
}

.form { 
    margin: 0 auto; 
    width: 250px;
}

.login-label{
    font-family: sans-serif;
    color: #424949;
    text-align: center;
    margin-top: -2vw;
    margin-bottom: 2vw;
}

.btn-login{
    background-color: #8064A2 !important;
}

.btn-navbar{
    border-radius: 4px;
    background-color: #D2D4C8;
    padding: 8px 20px 6px 20px;
}

.btn-bar{
    color: black !important;
}

.btn-bar:hover{
    background-color: #E0E2DB !important;

    text-decoration: none !important;
}


/**inventory**/
.pcode{
    color: #fff;
}

.tab-pane{
    margin-left: 2%;
}